Evet, Pandas Ögreniyoruz bu gün. Gooo brrr

In [14]:
#Niyet ettim allah rizasi icin Pandas import etmeye 

import pandas as pd
import numpy as np

In [15]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [16]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [17]:
#Bunu anlamadim
data.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
data[1:4]

1    0.50
2    0.75
3    1.00
dtype: float64

In [27]:
data_abc = pd.Series([1.1,2.2,3.3,4.4], 
                     index=['a', 'b', 'c','d'])

data_abc

a    1.1
b    2.2
c    3.3
d    4.4
dtype: float64

In [30]:
data_abc['b']

2.2

In [35]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [38]:
tpop = population["Texas"]

Cpop = population["California"]

In [47]:
po =pd.Series(["tpop" ,"Cpop"])
po

0    tpop
1    Cpop
dtype: object

In [48]:
128/50

2.56

In [52]:
data_Frame = pd.DataFrame({"population of Cities": population})

data_Frame

            population of Cities
California              38332521
Texas                   26448193
New York                19651127
Florida                 19552860
Illinois                12882135

In [55]:
cities_oberf = pd.Series({"California": 12480, "Texas": 12412, "New York": 15234, "Illinois": 28839, "Florida": 9173})

cities_oberf

California    12480
Texas         12412
New York      15234
Illinois      28839
Florida        9173
dtype: int64

In [57]:
data_Frame = pd.DataFrame({"population of Cities": population, 
                           "Size": cities_oberf})

data_Frame

            population of Cities   Size
California              38332521  12480
Florida                 19552860   9173
Illinois                12882135  28839
New York                19651127  15234
Texas                   26448193  12412

In [74]:
cities_oberf

California    12480
Texas         12412
New York      15234
Illinois      28839
Florida        9173
dtype: int64

In [75]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [80]:
yogunluk = cities_oberf["cities_oberf"] / population["population"]

KeyError: 'cities_oberf'